---
{"dg-publish":true,"permalink":"/library/engrams/diklis-chump/vote-security-enhancement-program-ensures-authentic-ballot-verification/","tags":["DC/Racism","DC/H1"]}
---

# Vote Security Enhancement Program Ensures Authentic Ballot Verification
Diklis Chump Abolishes Mail-in Voting in Black Communities
Only in-person voting is permitted in areas with large Black populations.  
Polling places are placed under heavy police surveillance to intimidate voters.
Polling places are restricted to only 1 per 100,000 voters in minority areas.
